body{
font-family:'Roboto', sans-serif;
 }
 
.navbar{
	background:#ffffff;
	opacity: 0.85;
	margin-bottom:0px;
	padding-left:50px;
	padding-right:50px;
}

.navbar .nav > li > a {
color:#000000;
opacity:1;
}

.jumbotron {
  background-image:url(./images/header1.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
 .jumbotron .container > h1{
padding-top:50px;
  color:#ffffff;
  opacity:0.9;
  }
  
  .jumbotron .container > p{
  color:#ffffff;
  opacity:0.9;
  }
  
  .thumbnail{
  border:none;
  padding-bottom:20px;
  }
  
  .footer{
  height:100px;
  background-color:#000000;
  opacity:0.8;
  width:100%;
  }
  
  .footer >p{
  padding-top:45px;
  text-align:center;
  color:#f1f1f1;
  opacity:0.5;
  }
  
  .footer >p>a{
  color:#ffffff;
  opacity:1;
  }
